.section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    margin-top: var(--section-divider);
}

.section small {
    color: var(--foreground-muted);
    font-size: 12px;
    line-height: 12px;
    margin: 0;
    opacity: 60%;
}
