.container {
  margin-inline: auto;
  max-width: 100%;
  padding-top: calc(var(--spacing-4) * 2);
  padding-bottom: calc(var(--spacing-4) * 2);
  padding-inline: var(--spacing-4);
  width: 480px;
}

.nav {
  margin-bottom: var(--spacing-4);
}

@media screen and (min-width: 768px) {
  .container {
    padding-inline: 0;
  }
}
