.container {
    padding-top: 128px;
    width: 100%;
}

.container > * {
    height: 300px;
    max-height: 300px;
}

@media screen and (min-width: 1000px) {
    .container {
        width: 1000px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}
