.container {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: var(--spacing-1);
    user-select: none;
}

.item {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.item:hover .line {
    display: block;
}

.line {
    border: none;
    display: none;
    flex: 1;
    height: 1px;
    margin-inline: var(--spacing-4);
    background-color: var(--border);
}

.time {
    font-family: monospace;
    font-variant-numeric: tabular-nums;
    font-variant-caps: all-small-caps;
    opacity: 70%;
}

@media screen and (max-width: 768px) {
    .item {
        pointer-events: none;
    }
}
