.project {
    border-radius: var(--spacing-1);
    display: inline-block;
    padding: var(--spacing-3);
    padding-inline: var(--spacing-4);
}

.project:hover {
    background-color: var(--background-muted);
}

.project:only-child {
    grid-column: span 2;
}
