---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <a
    href="https://github.com/joaoalberto-dev"
    target="_blank"
    rel="noopener noreferrer"
    class="px-8 py-4 rounded-xl bg-neutral-900 hover:shadow-2xl"
    >João Alberto
  </a>
</Layout>
