---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import { Social } from "@/components/social/social";
import { PageSection } from "@/components/page-section/page-section";
import { Header } from "@/components/header/header";

const posts = await getCollection("blog");
---

<Layout>
  <Header title="João Alberto" />
  <PageSection title="About">
    <div class="space-y-2 max-w-[380px] text-xl tracking-wide">
      <p>
        I'm a software engineer interested in all aspects of human–computer
        interaction.
      </p>
      <p>I have over 10 years of experience building software.</p>
    </div>
  </PageSection>
  <PageSection title="Social">
    <Social />
  </PageSection>
  <PageSection title="Blog">
    <ul class="space-y-2">
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.data.slug}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </PageSection>
</Layout>
