.container {
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  margin-left: calc(-1 * var(--spacing-4));
  padding-bottom: var(--spacing-4);
  padding-inline: var(--spacing-4);
  width: calc(100% + 2 * var(--spacing-4));
}
