.container {
    border: 1px solid var(--border);
    border-radius: var(--spacing-2);
    overflow: hidden;
}

.result {
    appearance: none;
    border: none;
    height: 300px;
    width: 100%;
}
