.title {
    color: var(--foreground);
    font-size: 48px;
    font-weight: 300;
    line-height: 1;
    margin: 0;
}

.subtitle {
    color: var(--foreground);
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    opacity: 70%;
}

.paragraph {
    color: var(--foreground);
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    opacity: 90%;
}

.small {
    color: var(--foreground);
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    opacity: 90%;
}
