---
import "../styles/global.css";
import { Font } from "astro:assets";
import { ShaderBackground } from "@/components/shader-background/shader-background";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>João Alberto - Software engineer</title>
    <Font cssVariable="--font-body" preload />
    <script
      is:inline
      src="https://www.googletagmanager.com/gtag/js?id=G-74EP327YTZ"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-74EP327YTZ");
    </script>
  </head>
  <body
    class="bg-gradient-to-tr from-white to-neutral-100 text-neutral-900 dark:text-neutral-50 dark:bg-gradient-to-tr dark:from-neutral-900 dark:to-neutral-800"
  >
    <ShaderBackground client:only="react">
      <div
        class="animate-fade-in max-w-[600px] font-black px-4 w-full h-full text-balance py-16 space-y-10"
      >
        <slot />
      </div>
    </ShaderBackground>
  </body>
</html>
