---
import "../styles/global.css";
import { Font } from "astro:assets";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>João Alberto - Software engineer</title>
    <Font cssVariable="--font-body" preload />
  </head>
  <body
    class="bg-gradient-to-tr from-neutral-50 to-neutral-200 text-neutral-900 dark:text-neutral-50 dark:bg-gradient-to-tr dark:from-neutral-900 dark:to-neutral-800"
  >
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  body {
    align-items: center;
    display: flex;
    font-family: var(--font-body);
    justify-content: center;
  }
</style>
